.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form-wrapper {
    width: 35%;
    box-sizing: border-box;
    padding: 3%;
}

.signup-form-wrapper > h2 {
    text-align: center;
}

.signup-field {
    max-width: 100%;
}

.signup-profile-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-profile-field .signup-label,
.signup-profile-field .signup-form-helper-text {
    align-self: flex-start;
    margin-left : 0;
    margin-right: 0;
}

.signup-input {
    display: block;
    width: 98%;
    border: 1px solid black;
    padding:2% 0;
    padding-left: 1%;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 10px;
    resize: none;
}

.signup-label {
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: left;
    font-weight: bolder;
}

.signup-form-helper-text {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 100%;
    white-space: inherit;
    overflow-wrap: anywhere;
    box-sizing: border-box;
    color: #FF3333;
    font-size: 0.8rem;
}

#signup-form {
    max-width: 100%;
    max-height: 30%;
    width: 100%;
    height: 100%;
    margin-bottom: 20%;
    text-align: center;
}

#signup-form .signup-field {
    text-align: left;
    margin-bottom: 5%;
}

#signup-form .signup-field:nth-child(5) {
    margin-bottom: 1%;
}

#sign-form-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
#signup-form-profile-image {
    display: none;
}

#signup-image-upload-btn {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #C4C4C4;
    font-size: 2rem;

    padding: 0;
    overflow: hidden;
    position: relative;
}

#signup-image-upload-btn.upload{
   background-color: transparent;
}

#signup-btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 2% 0;
    margin: 0 auto;
    height: 50%;
    border-radius: 10px;
    color: white;
    background-color: #ACA0EB;
}

#signup-btn.active {
    background-color: #7F6AEE;
    cursor: pointer;
}

#signup-form {
    border: 1px sollid black;
}

#signup-to-login-link {
    display: block;
    color: black;
    text-decoration-line: none;
    text-align: center;
}

