.comment-container {
    width: 100%;
    margin-bottom: 3%;
}

.comment-wrapper {
    display: flex;
    align-items: flex-start;

    padding: 2% 2%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
}

.comment-main {
    width: 100%;
}
.comment-author-profile-field {
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    align-self: center;

    padding: 0;
    margin-right: 2%;
}

.comment-author-field,
.comment-content-field {
    width: 100%;
}

.comment-author-field {
    display: flex;
    padding: 2% 2%;
}

.comment-author-nickname {
    font-weight: bold;
    margin-right: 10%;
}

.comment-updatedat {
    font-size: 0.8rem;
}

.comment-content {
    margin:0;
    padding-left: 2%;

    word-break: break-word;
    white-space: pre-wrap;
}

.comment-control-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.comment-control-btn {
    cursor: pointer;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background-color: white;
    padding: 5% 10%;
    font-size: 0.9rem;

}

#comment-author-profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

