.post-container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
    margin-top: 2% auto;
    /* width: 100%; */
    
}

.post-wrapper {
    border-radius: 15px;
    background-color: white;
    width: 100%;
}

.post-header-container {
    display: flex;
    flex-direction: column;
}

.post-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 2%;
}

.post-header-top > h2 {
    margin: 0;
}

.post-header-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #d9d9d9;
}

.post-author-field {
    display: flex;
    align-items: center;

    width: 70%;
    padding: 2% 2%;

}

.post-author-profile {
    border-radius: 50%;
    overflow: hidden;
    width: 8%;
    height: 8%;
    aspect-ratio: 1 / 1;

    margin-right: 3%;
    background-color: #d9d9d9;
}

.post-author-nickname-field {
    font-weight: bold;
    font-size: 1.2rem;

    margin-right: 3%;
}

.post-createdat {
    margin: 0;
    font-size: 0.8rem;
}

.post-control-field {
    display: flex;
    width: 20%;
    gap: 5%;
}

.post-control-btn {
    border: 1px solid #aca0eb;
    border-radius: 12px;
    background-color: transparent;

    font-size: 1.2rem;
    padding: 2% 10%;
    cursor: pointer;
}

.post-article-container {
    padding: 2% 2%;
}

.post-article-image-box {
    background-color: #d9d9d9;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.post-article-status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    margin-bottom: 3%;
}

.post-article-status > div {
    border: none;
    border-radius: 15px;
    padding: 1% 2%;
    width: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color: #d9d9d9;
}

.post-article-status > div label:first-child {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3%;
}

.post-article-status > div label:last-child {
    font-size: 1.2rem;
    margin-bottom: 3%;
}

.post-article-like-box {
    cursor: pointer;
    background-color: #d9d9d9;
}

.post-article-like-box > *{
    cursor: pointer;
}

.post-article-like-box:hover {
    background-color: #7F6AEE;
}
.post-article-like-box.like {
    background-color: #7F6AEE;
}

#post-back-btn {
    border: 1px solid #aca0eb;
    border-radius: 12px;
    background-color: transparent;

    font-size: 1.2rem;
    padding: 1% 1%;
    cursor: pointer;
}

#post-author-profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
#post-author-profile-image:not([src]),
#post-author-profile-image[src=""] {
    display: none;
}


#post-article-image {
    width: 100%;   
}

#post-article-image:not([src]),
#post-article-image[src=""] {
    display: none;
}


