.make-post-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    margin: 2% auto 0;
}

.make-post-wrapper {
    width: 60%;
    padding: 3%;

    margin: 0 auto;
}

.make-post-wrapper > h2 {
    text-align: center;
}

.make-post-field {
    max-width: 100%;
    margin-bottom: 5%;
}

.make-post-input {
    display: block;
    width: 98%;
    border: 1px solid black;
    padding:2% 1%;
    padding-left: 1%;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 10px;
    resize: none;
    box-sizing: border-box;
}

.make-post-label {
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: left;
    font-weight: bolder;
}

.make-post-form-file-row {
    display: flex;
    align-items: center;
    gap: 2%;
}

.make-post-file-btn {
    display: inline-block;
    border: 1px solid black;
    padding: 1%;
    background-color: #D9D9D9;
}

.make-post-file-text {
    font-size: 0.9rem;
}

#make-post-form {
    max-width: 100%;
    max-height: 30%;
    width: 100%;
    height: 100%;
    text-align: center;
}

#make-post-form .make-post-field {
    text-align: left;
}

#make-post-form-article {
    height: 300px;
}
#make-post-form-article-image {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

#make-post-btn {
    display: block;
    text-align: center;
    width: 70%;
    padding: 2% 0;
    margin: 0 auto;
    height: 50%;
    border-radius: 10px;
    color: white;
    background-color: #ACA0EB;
    font-size: medium;
}

#make-post-btn.active {
    background-color: #7F6AEE;
    cursor: pointer;
}

#make-post-form-helper-text {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 100%;
    white-space: inherit;
    overflow-wrap: anywhere;
    box-sizing: border-box;
    color: #FF3333;
    font-size: 0.8rem;
}