.common-header-container {
    position: sticky;
    top: 0;
    z-index: 50;
    height: 100px;
}
.common-header-wrapper {
    height: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;

    border-bottom: 1px solid black;
}

.common-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 15%;
}

.common-header-center {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Sandoll GogoRound;
    font-weight: 400;
    font-style: 03 Rg;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.common-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 15%;
}

.profile-trigger {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.common-header-profile-menu[hidden] {
    display: none;
}

.common-header-profile-menu.hide {
    display: none;
}

.common-header-profile-menu {
    position: absolute;
    top: calc(100% + 8px);
    min-width: 20%;
    background: #D9D9D9;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.12);

    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.header-profile-menu-btn {
    text-align: center;
    padding: 5% 4%;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.header-profile-menu-btn:hover,
.header-profile-menu-btn:focus {
    background-color: #E9E9E9;
}
#common-back-btn {
    width: 50px;
    height: 50px;

    border: none;
    background: none;
    cursor: pointer;


    font-family: Sandoll GogoRound;
    font-weight: 400;
    font-style: 03 Rg;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}



#common-header-userprofile {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
    border: none;
}

#common-header-profile-btn {
    width: 8%;
    height: 8%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    display: block;
    border: none;

    cursor: pointer;
    padding: 0;
}
