.edit-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 10%;
}

.edit-password-wrapper {
    width: 35%;
    box-sizing: border-box;
    padding: 3%;
    border-radius: 5%;
    background-color: white;
}

.edit-password-wrapper > h2 {
    text-align: center;
}

.edit-password-field {
    max-width: 100%;
}
.edit-password-input {
    display: block;
    width: 98%;
    border: 1px solid black;
    padding:2% 0;
    padding-left: 1%;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 10px;
    resize: none;
}

.edit-password-label {
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: left;
    font-weight: bolder;
}

.edit-password-form-helper-text {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 100%;
    white-space: inherit;
    overflow-wrap: anywhere;
    box-sizing: border-box;
    color: #FF3333;
    font-size: 0.8rem;
}

#edit-password-form {
    max-width: 100%;
    max-height: 30%;
    width: 100%;
    height: 100%;
    margin-bottom: 20%;
    text-align: center;
}

#edit-password-form .login-field {
    text-align: left;
    margin-bottom: 5%;
}

#edit-password-form .login-field:nth-child(2) {
    margin-bottom: 1%;
}

#edit-password-btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 2% 0;
    margin: 0 auto;
    height: 50%;
    border-radius: 10px;
    color: white;
    background-color: #ACA0EB;
}

#edit-password-btn.active {
    background-color: #7F6AEE;
    cursor: pointer;
}



#edit-password-to-signup-link {
    display: block;
    color: black;
    text-decoration-line: none;
    text-align: center;
}