.post-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.post-card-wrapper {
    width: 70%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.post-card-detail-btn {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.post-card-summary-field {
    border-bottom: 1px solid #D9D9D9;
    padding: 2% 5%;
}

.post-card-summary-title {
    text-align: left;
}

.post-card-summary-info {
    display : flex;
    align-items: center;
    gap: 2%
}

.post-card-summary-createdat {
    margin-left: auto;
}


.post-card-author-field {
    display: flex;
    align-items: center;
    padding: 2% 5%;
    gap: 4%;
}

.post-card-author-profile {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #D9D9D9;
    flex-shrink: 0;
}

.post-card-author-profile img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
    display: block;
    border: none;
}

.post-card-author-nickname {
    font-weight: bold;
}
